
img.dotask-brand  {
	width: 150px;
	height: auto;
}

a.dropdown-toggle {
	font-size: 1.5em;
	color: #250C72;
}

div.home-page {
	background: url("cover.png") no-repeat center;
	background-size: cover;
	background-color: #F8F8F8;
	margin-top: 2em;
	/*height: 100vh;*/
	padding-bottom: 2em;
	box-shadow: 3px 0px 15px #1B3246, -3px 5px 15px #1B3246 
}


h1 { /* Main page title*/
	padding-top: 1em;
	padding-bottom: 1.5em;
	text-align: center;
	color: #173D5E;
}

/*****Template welcomePage *****/
div.home-page h3 {
	padding: 3em 3em 1.5em 3em;
	font-size: 2em;
	color: #173D5E;
}

div.home-page p {
	padding: 0 3em 3em 3em;
	text-indent: 1em; 
	font-size: 1.5em;
}

/*****Template getTasksForm group *****/
div.form-group {
	padding-top: 1em;
}

button.js-btn-add-task {
	width: 4em;
	height: 4em;
	padding: -3em .3em;
	margin-bottom: 3em;
	margin-left: 28px;
	border-radius: 50%;
	outline: 0;
}

button.gliphicon-plus {
	font-size: 1.5em;
	word-spacing: -10px;
}

h3.js-change-add-task-status {
	float: left;
	color: #2F4351;
	margin-left: -480px;
}

input[type=text] {
	width: 75%;
	height: 3em;
	margin-left: 25px;
	margin-bottom: 1em;
}

.btn-success {
	height: 3em; 
}
/*END Template getTasksForm group */

/*****Template taskWindow group *****/
div.title, .modal-header {
	height: 30px;
	font-size: 1.2em;
	padding-left: 1em;
	background: #5E5F59; 
   background: -webkit-linear-gradient(#286090, white); 
   background: -o-linear-gradient(#286090, white); 
   background: -moz-linear-gradient(#286090, white);
   background: linear-gradient(#286090, white);  
}

h4.title-text {
	position: absolute;
	font-size: 22px;
	font-weight: 900;
	margin-top: 4px;
	color: #2F4351;
}

div.task {
	margin-bottom: 1em;
	border-bottom: 2px solid #ffffff;
	padding: 0;
}

div.taskElements {
	padding: 0;
	border-bottom: 2px solid #ffffff;
	padding: .8em;
	width: 100%;
}

ol {
   margin-left: 0;
   padding-right: 0;
   list-style-type: none;
}

ol.order-number {
	margin-left: -40px; /* Para fazer uma correção e centrar a página em small screens "VER DEPOIS"*/
}

li.task-number {
    counter-increment: step-counter;
    margin-top: 1em;
}

li.task-number::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 100%;
    background-color: rgb(47, 67, 81);
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
}

p.task-item {
	font-size: 1em;
	text-align: left;
	padding-left: 5em;
	
 }
 
div.taskContent {
	background: #E2E9EE;    
	border-radius: 5px;
	font-size: 1.2em;
	border: 1px solid #96A9B0;
}

button.button-delete {
	margin-right: -12px;
	margin-top: 3px;
}

/* Styles the edit input text box */
div.title input[type="text"].wide-text-edit {
	height: 1em;
}

/*****Template dateAndTime_Starting_Ending*****/
div.user-params-task {
	padding-bottom: .5em;
}

div.task-parameter {
	height: 30px;
}

/*priority*/
div.js-task-priority {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #000000;
	margin-top: 1px;
}

div.normal-priority {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #000000;
}

div.high-priority {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #000000;
	background-color: #B82828;
}

div.priority p {
	margin-bottom: 20px;
	margin-top: -25px;
	margin-left: 80px;
	font-weight: 600;
}

/* END priority*/
summary {
	text-align: center;
	border: none;
	outline: none;
	font-size: 1.2em;
	font-weight: 900; 
	color: #1B3246;
}

div.data-show {
	background: #E7E8D8; /* background of boxes for time and date render */
	border: 1px solid #286090;
}

div.data-show label {
	color: #2F4351;
}

div.edit-date {
	padding-top: 1em;
   box-shadow:0px 5px 35px 3px #000 inset;
}

/*Task done*/
input[type=checkbox] {
	position: relative;
	display: inline;
	float: right;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-top: 0.1em;
	margin-right: -12px;
	outline: 2px solid #286090;
 }
 
 div.last-params-task {
 	box-shadow: 0px 3px 2px 0px black;
 }
 
/***********************/
/*
.triangle-left {
	position: absolute;
	margin-left: 900px; 
	width: 0;
	height: 0;
	border-top: 280px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
	-ms-transform: rotate(50deg); /* IE 9 */
  /* -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
   /*transform: rotate(50deg);
}*/

/********* taskTitleList *************/

div.task-title-wrapper {
	margin-top: -55px;
}

ol.order-number {
	
}

div.task-title-list {
   background: url("cover.png") no-repeat center;
	background-size: cover;
	width: 100%;
	background-color: #F8F8F8;
	margin-top: -10px;
	padding-bottom: 2em;
	padding-top: 1.5em;
	/*box-shadow: 3px 0px 8px #1B3246, -3px 0px 8px #1B3246*/
	box-shadow: 0px 3px 2px 0px black;
}

input[type=checkbox].list-checkbox {
	float: right;
}

button.button-task-list {
	margin-right: -120px;
}

ol li.simple-task-title-list {
    list-style-type: decimal-leading-zero;
    display:block; /*COM ISTO OS DECIMAL NUMBERS NÂO APARECEM*/
 
}

li.simple-task-title-list {
	
	
 
}

li.simple-task-title-list:nth-child(even) {
	background: #E2E9EE;
}


li.simple-task-title-list:nth-child(odd) {
	background: #E7E8D8;
}

div.task-title-list a {
	font-size: 1.8em;
}

/********** HELP  ************/
img.help {
	width: 100%;
	height: auto;
} 
